// Userbox.module
@import "styles/meta.scss";

.container {
    height: inherit;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    .user {
        font-weight: bolder;
    }
    .wellcome {
        margin-bottom: 2px;
    }
    .head {
        display: flex;
        align-items: flex-end;
    }
    .bottom {
        margin-top: 12px;
    }
    .control_row {
        margin-top: 10px;
        display: flex;
        .control_btn {
            cursor: pointer;
            margin-right: 10px;
        }
    }
}

.not_login_container {
    height: inherit;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    .head {
        .login_text {
            font-weight: bold;
        }
        margin-bottom: 10px;
    }
    .login_row {
        display: flex;
        justify-content: space-between;
        .input_col {
            margin-right: 5px;
            flex-grow: 1;
            display: grid;
            gap: 5px;
        }
    }
    .footer {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .link_col {
            display: flex;
            .link_text {
                margin-left: 10px;
                cursor: pointer;
            }
        }
    }
}
