// BoardPreviewBox.module
@import "styles/meta.scss";

.container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: rgb(240, 240, 240);

    .head {
        display: flex;
        justify-content: space-between;
        .typo__title {
            font-weight: bold;
        }
        svg {
            cursor: pointer;
            font-size: 20px;
        }
    }
    .body {
        display: grid;
        gap: 8px;
        margin-top: 8px;
        .item_row {
            display: grid;
            grid-template-columns: auto 45px;
            align-items: center;
            cursor: pointer;

            .title_txt {
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .typo_item {
            }
            .typo_date {
            }
        }
    }
}
