@import "styles/meta.scss";
.container {
    margin-top: 30px;
}
.list_container {
    @include list_item_container;
    display: grid;
    grid-template-columns: 60px auto 100px;
    align-items: center;
    gap: 5px;
    .week_col {
    }
    .title_col {
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
