@import "styles/meta.scss";

.container {
    .body {
        padding-top: 50px;
        padding-bottom: 200px;
        .register_button {
            margin-left: 5px;
            border: 1px solid $gray_form;
        }
        .phone_num_row {
            display: flex;
            width: 100%;
            margin-bottom: 5px;
            .register_form {
                flex-grow: 1;
            }
        }
        .password_row {
            .register_form {
                margin-bottom: 5px;
            }
        }
    }
}

.form_container {
    .pw_form {
        margin-bottom: 10px;
    }
    .pw_submit {
        margin-top: 50px;
    }
}
