// AdminCategoryList.module
@import "styles/meta.scss";
.head {
    display: flex;
    justify-content: flex-end;
    .add_btn {
        @include desktop {
            width: 70px;
        }
        @include mobile {
            width: 60px;
        }
    }
}
.body {
    margin-top: 20px;

    .category_row {
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 0.5px solid $gray_form;
        justify-content: space-between;
        .control_col {
            display: flex;
            .control_btn {
                @include desktop {
                    width: 70px;
                    margin-left: 10px;
                }
                @include mobile {
                    width: 60px;
                    margin-left: 10px;
                }
            }
            .edit_btn {
            }
            .delete_btn {
            }
        }
    }
}
