// ClassLayout.module
@import "styles/meta.scss";

.container {
    height: 100%;

    @media only screen and (max-width: 900px) {
    }
    @media only screen and (min-width: 900px) {
        display: grid;
        grid-template-columns: 290px auto;
    }
}
.aside {
    @media only screen and (max-width: 900px) {
        background-color: white;
        border-bottom: 1px solid $brown_base;
        display: grid;
        grid-template-columns: 0.2fr 7fr 0.2fr;
        position: absolute;
        left: 0px;
        right: 0px;
    }
    @media only screen and (min-width: 900px) {
    }
}
.article {
    background-color: white;
    @media only screen and (max-width: 900px) {
        padding-top: 60px;
        padding-bottom: 45px;

        display: grid;
        grid-template-columns: 0fr 10fr 0fr;
    }
    @media only screen and (min-width: 900px) {
        display: grid;
        grid-template-columns: 0.5fr 9fr 0.5fr;
        padding-top: 45px;
        padding-bottom: 45px;
        border-right: 1px solid $gray_accent;
    }
}
