// LAYOUT 사이즈 참고
// GlobalLayout.module
// https://github.com/22hours/daedeok-web/wiki/GLOBAL-LAYOUT-%EB%B9%84%EC%9C%A8
@import "styles/meta.scss";

// PC 보정 후
$pc_stripe_height: 20px;
$pc_header_height: 196px; //236px
$pc_nav_height: 53px;
$pc_banner_height: 285px;
$pc_article_height: auto;
$pc_footer_height: 196px;

// PC 보정 전
// $pc_stripe_height: 32px;
// $pc_header_height: 215px; //236px
// $pc_nav_height: 63px;
// $pc_banner_height: 310px;
// $pc_article_height: auto;
// $pc_footer_height: 204px;

$mobile_stripe_height: 13px;
$mobile_header_height: 89px; // HEAD + NAV 123px
$mobile_nav_height: 34px;
$mobile_banner_height: 148px;
$mobile_article_height: auto;
$mobile_footer_height: 139px;

.container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.stripe {
    overflow: hidden;
    @include mobile {
        height: $mobile_stripe_height;
    }
    @include desktop {
        height: $pc_stripe_height;
    }
    background-color: $brown_base;
}

.header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #8c8c8b;
    background-color: white;

    .head {
        @include mobile {
            height: $mobile_header_height;
        }
        @include desktop {
            height: $pc_header_height;
        }
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            @include mobile {
                height: 60px;
            }
            @include desktop {
                height: 100px;
                cursor: pointer;
            }
        }
    }
    .nav {
        background-color: white;
        @include container;
        border-top: 1px solid #8c8c8b;

        @include mobile {
            height: $mobile_nav_height;
        }
        @include desktop {
            height: $pc_nav_height;
        }

        .nav_inner {
            @include desktop {
                border-right: 1px solid $gray_accent;
            }

            position: relative;
        }
    }
}

.carousel {
    @include mobile {
        height: $mobile_carousel_height;
    }
    @include desktop {
        height: $pc_carousel_height;
    }
}
.indexSection1 {
    background-color: rgb(232, 235, 236);
}
.indexSection2 {
}

.banner {
    @include mobile {
        height: $mobile_banner_height;
    }
    @include desktop {
        height: $pc_banner_height;
    }

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .mask {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.article {
    @include container;
    flex-grow: 1;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $brown_base;
    @include mobile {
        min-height: $mobile_footer_height;
    }

    @include desktop {
        min-height: $pc_footer_height;
    }
}
