// ClassCloseList.module
@import "styles/meta.scss";

.complete_btn {
    background-color: $red_accent;
    span {
        color: white;
    }
}
.ing_btn {
    background-color: $brown_base;
    span {
        color: white;
    }
}
.row_btn {
    @include class_list_pc {
        width: 100px;
    }
    @include class_list_mobile {
        width: 70px;
    }
}

.complelte_list {
    display: grid;
    grid-template-columns: auto 250px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 0.5px $gray_accent solid;
    .title_wrapper {
        cursor: pointer;
        display: grid;
        grid-template-columns: 30px auto;
        align-items: center;
        .title {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .detail_wrapper {
        display: flex;
        justify-content: flex-end;
    }
}

.margin_style {
    margin-right: 15px;
}
