// ClassCloseList.module
@import "styles/meta.scss";

.complete_btn {
    background-color: $red_accent;
    span {
        color: white;
    }
}
.ing_btn {
    background-color: $brown_base;
    span {
        color: white;
    }
}
.row_btn {
    width: 100px;
}
