// ClassCloseList.module
@import "styles/meta.scss";

.container {
    .head {
        @include mobile {
            display: grid;
            gap: 3px;
        }
        @include desktop {
            display: grid;
            grid-template-columns: 3fr 2fr 6fr;
        }
    }
    .body {
        margin-top: 30px;
    }
    .footer {
        margin-top: 30px;
    }
}

.list_wrapper {
    @include desktop {
        display: grid;
        grid-template-columns: auto 300px;
        align-items: center;
        gap: 10px;
    }
    @include mobile {
    }
    cursor: pointer;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 0.5px $gray_accent solid;

    .title_wrapper {
        @include desktop {
            gap: 10px;
        }
        @include mobile {
            gap: 5px;
        }
        display: grid;
        grid-template-columns: 20px auto;
        align-items: center;
        .list_title {
            @include desktop {
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            @include mobile {
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    .detail_item_list {
        display: grid;
        @include desktop {
            grid-template-columns: 100px 200px;
            justify-content: flex-end;
        }
        @include mobile {
            margin-top: 5px;
            grid-template-columns: 80px 160px;
        }

        .detail_item {
            white-space: nowrap;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
