@import "styles/meta.scss";

.container {
    z-index: 99999;
    @include desktop {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        display: flex;
        justify-content: center;
    }
    @include mobile {
        height: 100%;
    }
}

.small {
    height: 53px;
}

.medium {
    height: 115px;
}

.large {
    height: 190px;
}

.full {
    height: 70px;
    width: 100%;
}

.yellow_accent {
    background-color: $yellow_accent;
}
.white {
    background-color: white;
}
.mint_accent {
    background-color: $mint_accent;
}
.gray_accent {
    background-color: $gray_accent;
}
.brown_base {
    background-color: $brown_base;
}
.brown_font {
    background-color: $brown_font;
}
.light_accent {
    background-color: $light_accent;
}
.red_accent {
    background-color: $red_accent;
}
