// TextViewer.module
@import "styles/meta.scss";

.container {
    width: 100%;
    overflow: hidden;
    img {
        max-width: 80%;
    }
}

.file_download_box {
    display: flex;
    align-items: center;
    border-top: 1px solid lightgray;
    @include mobile {
        padding-left: 3px !important;
        padding-right: 3px !important;
    }
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    .file_download_list {
        @include mobile {
            margin-left: 0px !important;
        }
        margin-left: 30px;
        width: 100%;
    }
}

.text_style {
    @include mobile {
        display: none;
    }
    min-width: 60px;
}

.attachment_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .attach_name {
        margin-right: 3px;
        @include mobile {
            width: calc(100% - 80px);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
.empty_box {
    margin-top: 40px;
}
