// BreadCrumbs.module
@import "styles/meta.scss";

.container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    a {
        text-decoration: none;
    }

    .breadcrumb {
        white-space: nowrap;
    }
    .breadcrumb:hover {
        color: $brown_base;
    }
    .sep {
        margin-left: 10px;
        margin-right: 10px;
    }
}
