// BreadCrumbs.module
@import "styles/meta.scss";

.container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    a {
        text-decoration: none;
    }

    .breadcrumb:hover {
        color: $brown_base;
    }
    .sep {
        margin-left: 5px;
        margin-right: 5px;
    }
}
