@import "styles/meta.scss";

//home-buttons
.bold_h1 {
    font-family: "SCDream8";
    font-size: 34px;
}
//home-notice,login
.bold_h2 {
    font-family: "SCDream8";
    font-size: 30px;
}
//join-button
.bold_h3 {
    font-family: "SCDream8";
    font-size: 28px;
}
//mypage
.regular_h1 {
    font-family: "SCDream6";
    font-size: 45px;
}
//big-button
.regular_h2 {
    font-family: "SCDream5";
    font-size: 35px;
}
//page-header
.regular_h3 {
    font-family: "SCDream6";
    font-size: 30px;
}
//small-title
.regular_h4 {
    font-family: "SCDream5";
    font-size: 20px;
}
//small-button
.regular_h5 {
    font-family: "SCDream5";
    font-size: 18px;
}
//board
.light_h1 {
    font-family: "SCDream4";
    font-size: 30px;
}
//board
.light_h2 {
    font-family: "SCDream";
    font-size: 25px;
}
//details
.light_h3 {
    font-family: "SCDreasm";
    font-size: 22px;
}
//list-date,category
.light_h4 {
    font-family: "SCDream";
    font-size: 20px;
}
