@import "styles/meta.scss";

//BUTTON
.huge {
    font-family: "SCDream8";
    font-size: 28px;
}
.large {
    font-family: "SCDream7";
    font-size: 25px;
}
.medium {
    font-family: "SCDream6";
    font-size: 22px;
}
.small {
    font-family: "SCDream5";
    font-size: 20px;
}

//HEADER
.h1_header {
    font-family: "SCDream8";
    font-size: 30px;
}
.h2_header {
    font-family: "SCDream6";
    font-size: 28px;
}
.h3_header {
    font-family: "SCDream4";
    font-size: 25px;
}
//TEXT
.large_text {
    font-family: "SCDream5";
    font-size: 25px;
}
.medium_text {
    font-family: "SCDream4";
    font-size: 20px;
}
.small_text {
    font-family: "SCDream4";
    font-size: 15px;
}
.yellow_accent {
    color: $yellow_accent;
}
.white {
    color: white;
}
.mint_accent {
    color: $mint_accent;
}
.gray_accent {
    color: $gray_accent;
}
.brown_base {
    color: $brown_base;
}
.brown_font {
    color: $brown_font;
}
.light_accent {
    color: $light_accent;
}
.red_accent {
    color: $red_accent;
}
