// PageHeader
@import "styles/meta.scss";

.container {
    margin-top: 50px;
    margin-bottom: 14px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.underbar_container {
    border-color: $brown_base;
}
