@import "styles/meta.scss";

.header_title {
    margin-top: 70px;
}

.list_wrapper {
    display: grid;
    grid-template-columns: auto 500px;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 0.5px $gray_accent solid;

    .title_wrapper {
        gap: 10px;
        display: grid;
        grid-template-columns: 20px auto;
        align-items: center;
        .list_title {
            display: inline-block;
            // overflow: hidden;
            // text-overflow: ellipsis;
            // white-space: nowrap;
        }
    }

    .detail_item_list {
        display: flex;
        justify-content: flex-end;

        .detail_item {
            margin-right: 10px;
        }
    }
}

.mobile_list_wrapper {
    align-items: center;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 0.5px $gray_accent solid;

    .title_wrapper {
        gap: 0px;
        display: grid;
        grid-template-columns: 20px auto;
        align-items: center;
        .list_title {
            display: inline-block;
            // overflow: hidden;
            // text-overflow: ellipsis;
            // white-space: nowrap;
        }
    }

    .detail_item_list {
        display: flex;

        .detail_item {
            margin-right: 10px;
        }
    }
}
