@import "styles/meta.scss";

.top_form {
    display: flex;
    margin-top: 60px;
    margin-bottom: 30px;
    justify-content: flex-end;
    .select {
        min-height: 40px;
    }
    .search {
        flex-grow: 0.5;
    }
}
.btn_wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    .new_btn {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.faq_list_wrapper {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 0.5px $gray_accent solid;
    .list_id {
        @include desktop {
            margin-right: 50px;
        }
        @include mobile {
            margin-right: 10px;
        }
    }
    .list_title {
        @include desktop {
            width: 775px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        @include mobile {
            width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
