@import "styles/meta.scss";

.board_list {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 0.5px $gray_accent solid;
}

.board_item_wrapper {
    display: flex;
    align-items: center;
}

.board_item {
    margin-right: 20px;
}

.idx_item {
    margin-right: 50px;
}

.title_item {
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.student_info_item {
    margin-right: 10px;
}

.child_wrapper {
    display: grid;
}
