// VideoClass.module
@import "styles/meta.scss";

.container {
    // width: 800px;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.video_container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.progress_container {
    margin-top: 30px;
}

.sub_breadcrumbs_container {
    display: flex;
    margin-bottom: 20px;
    .breadcrumb_item {
        cursor: pointer;
    }
}

.table {
    margin-bottom: 20px;
}

.introduce_container {
    margin-top: 20px;
}

.list_container {
    @include list_item_container;
    display: grid;
    align-items: center;
    grid-template-columns: 100px auto;
}
