// CheckBox.module
@import "styles/meta.scss";

.container {
    display: flex;
    align-items: center;

    input {
        transform: scale(1.5);
    }
    .link_wrapper {
        cursor: pointer;
        span:hover {
            color: blue;
        }
    }
}

.padding_bar {
    margin-left: 5px;
    margin-right: 5px;
}
