// SearchBar.module
@import "styles/meta.scss";

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
        margin-right: 10px;
        color: $gray_accent;
    }

    .search_btn_wrapper {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
