// LectureDetailPage.module
@import "styles/meta.scss";

.container {
    .head {
        @include desktop {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-end;
            .info_col {
                .typo__info {
                    margin-right: 10px;
                }
            }
        }
        @include mobile {
            flex-wrap: wrap;
            .info_col {
                .typo__info {
                    margin-right: 10px;
                }
            }
        }

        padding-bottom: 15px;
        border-bottom: 1px solid $brown_base;

        .title_col {
        }
    }
    .body {
        margin-top: 20px;
        .typo_introduce {
            display: inline-block;
            text-align: justify;
        }
        .section_class_info {
            margin-top: 50px;
            .main_body_grid {
                @include desktop {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 15px;
                }
                @include mobile {
                }
            }

            .main_body_grid,
            .main_body_grid_single {
                .main_body_row {
                    display: flex;
                    justify-content: space-between;
                    flex-grow: 1;
                    $height: 30px;
                    .label {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @include desktop {
                            width: 100px;
                        }
                        @include mobile {
                            width: 80px;
                        }
                        height: $height;
                        background-color: $brown_base;
                        margin-right: 10px;
                    }
                    .value {
                        flex-grow: 1;
                        height: $height;
                        background-color: transparent !important;
                    }
                }
            }
        }
        .section_plan_list {
            margin-top: 20px;
            .list_item {
                display: flex;
                .week_item {
                    @include desktop {
                        text-align: center;
                        min-width: 80px;
                        display: flex;
                        justify-content: center;
                        padding-top: 15px;
                        align-items: center;
                        padding-bottom: 15px;
                        border-top: 1px $gray_accent solid;
                    }
                    @include mobile {
                        display: flex;
                        text-align: center;
                        align-items: center;
                        min-width: 35px;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        border-top: 1px $gray_accent solid;
                    }
                }
                .other_item {
                    @include desktop {
                        display: grid;
                        grid-template-columns: 6fr 2fr;
                        text-align: center;
                        margin-left: 30px;
                        width: 100%;
                        padding-right: 10px;
                        padding-left: 10px;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        border-top: 1px $gray_accent solid;
                        .title_box {
                            // display: inline-block;
                            // overflow: hidden;
                            // text-overflow: ellipsis;
                            // white-space: nowrap;
                        }
                        .other_box {
                            margin-left: 10px;
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                    @include mobile {
                        display: grid;
                        grid-template-columns: 6fr 2fr;
                        text-align: center;
                        margin-left: 30px;
                        align-items: center;
                        width: 100%;
                        padding-right: 10px;
                        padding-left: 10px;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        border-top: 1px $gray_accent solid;
                        .title_box {
                        }
                        .other_box {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }

    .lecture_plan_list_container {
        margin-top: 30px;
        .lecture_plan_children {
            display: block;
            text-align: right;
        }
    }

    .footer {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
        .golist_btn {
            height: 30px;
        }
    }
    padding-bottom: 50px;
}
