@import "styles/meta.scss";

.head {
    margin-bottom: 20px;
}
.btn_col {
    display: flex;
    align-items: center;
    .btn {
        @include desktop {
            width: 70px;
        }
        @include mobile {
            width: 60px;
        }
        span {
            white-space: nowrap;
        }
    }
    .left_btn_wrapper {
        display: flex;
        align-items: center;
        .delete_file_icon {
            width: 25px;
            display: flex;
            justify-content: center;

            svg {
                cursor: pointer;
            }
        }
    }

    .ing_btn {
        background-color: $gray_back;
        span {
            color: white;
        }
    }
    .complete_btn {
        background-color: $brown_base;
        span {
            color: white;
        }
    }
    .cancle_btn {
        border: 1px solid $gray_form;
        @include mobile {
            width: 20px;
        }
        span {
            color: $gray_form;
        }
    }
}
@include class_list_pc {
    .class_student_list_item {
        display: flex;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 0.5px $gray_accent solid;
        .student_item_wrapper {
            display: flex;
            width: calc(100% - 165px);
            justify-content: space-between;
            .title_wrapper {
                display: flex;
                align-items: center;
                width: 135px;
                .idx {
                    margin-right: 30px;
                }
            }
            .detail_wrapper {
                margin-left: 30px;
                display: flex;
                align-items: center;
                margin-right: 50px;
                .detail_items {
                    margin-right: 8px;
                }
            }
        }
        .btn_col {
            width: 165px;
        }
    }
}

@include class_list_mobile {
    .class_student_list_item {
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 0.5px $gray_accent solid;
        .student_item_wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .title_wrapper {
                display: flex;
                align-items: center;
                .idx {
                    margin-right: 10px;
                }
            }
        }
        .detail_wrapper {
            display: flex;
            .detail_items {
                margin-right: 5px;
            }
        }
        .btn_col {
            justify-content: flex-end;
            width: 150px;
        }
    }
}
