@import "./meta.scss";

//FONTS
@font-face {
    font-family: "SCDream1";
    src: url("./../fonts/SCDream1.otf") format("truetype");
}
@font-face {
    font-family: "SCDream2";
    src: url("./../fonts/SCDream2.otf") format("truetype");
}
@font-face {
    font-family: "SCDream3";
    src: url("./../fonts/SCDream3.otf") format("truetype");
}
@font-face {
    font-family: "SCDream4";
    src: url("./../fonts/SCDream4.otf") format("truetype");
}
@font-face {
    font-family: "SCDream5";
    src: url("./../fonts/SCDream5.otf") format("truetype");
}
@font-face {
    font-family: "SCDream6";
    src: url("./../fonts/SCDream6.otf") format("truetype");
}
@font-face {
    font-family: "SCDream7";
    src: url("./../fonts/SCDream7.otf") format("truetype");
}
@font-face {
    font-family: "SCDream8";
    src: url("./../fonts/SCDream8.otf") format("truetype");
}
@font-face {
    font-family: "SCDream9";
    src: url("./../fonts/SCDream9.otf") format("truetype");
}

body {
    margin: 0px;
    width: 100%;
    min-height: 100vh;
    background: white;
    p {
        margin: 0px;
    }
    a {
        text-decoration: none;
    }
}

.MuiPaginationItem-page.Mui-selected {
    background-color: $yellow_accent !important;
    color: white;
}
.MuiPaginationItem-root {
    font-size: 1rem !important;
}
.MuiPaginationItem-page:hover {
    background-color: #ffbb0049 !important;
}
.pagination_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 70px;
}
.toastui-editor-main {
    font-family: "SCDream9";
}
.toastui-editor-contents {
    font-family: "SCDream4" !important;
    font-size: 15px !important;
}

.Carousel-root-1 {
}
.CarouselItem {
    height: 100%;
}
.Carousel-button-10 {
    background: transparent !important;
}
// .MuiDialog-container {
//     z-index: 100000 !important;
// }
// .MuiBackdrop-root {
//     z-index: 100000 !important;
// }
// .MuiPaper-root {
//     z-index: 200000 !important;
// }
.MuiInputBase-root {
    border-bottom: 0px !important;
}
.MuiInput-underline:after,
.MuiInput-underline:before {
    border-bottom: 0px !important;
}
.MuiNativeSelect-root {
    border-bottom: 0px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
}
pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
