// COLORS
$brown_base: #494137;
$brown_font: #493741;
$mint_accent: #29b4aa;
$yellow_accent: #fbb800;
$red_accent: #a65341;
$gray_accent: #8c8c8b;
$light_accent: #f5f5f5;

// MEDIA QUERIES
$breakpoint-mobile: 450px;
$breakpoint-tablet: 800px;
$breakpoint-desktop: 451px;

$mobile_font_resize_size: 3px;
@mixin mobile {
    @media (max-width: #{$breakpoint-mobile - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$breakpoint-desktop}) {
        @content;
    }
}

//BUTTON
@mixin font_button_huge {
    font-family: "SCDream8";
    $size: 28px;

    @include desktop {
        font-size: $size;
    }
    @include mobile {
        font-size: $size - $mobile_font_resize_size;
    }
}

@mixin font_button_large {
    font-family: "SCDream7";

    $size: 25px;

    @include desktop {
        font-size: $size;
    }
    @include mobile {
        font-size: $size - $mobile_font_resize_size;
    }
}
@mixin font_button_medium {
    font-family: "SCDream6";

    $size: 22px;

    @include desktop {
        font-size: $size;
    }
    @include mobile {
        font-size: $size - $mobile_font_resize_size;
    }
}
@mixin font_button_small {
    font-family: "SCDream5";
    $size: 20px;

    @include desktop {
        font-size: $size;
    }
    @include mobile {
        font-size: $size - $mobile_font_resize_size;
    }
}
@mixin font_button_smaller {
    font-family: "SCDream4";
    $size: 15px;

    @include desktop {
        font-size: $size;
    }
    @include mobile {
        font-size: $size - $mobile_font_resize_size;
    }
}

//HEADER
@mixin font_h1_header {
    font-family: "SCDream8";

    $size: 30px;

    @include desktop {
        font-size: $size;
    }
    @include mobile {
        font-size: $size - $mobile_font_resize_size;
    }
}
@mixin font_h2_header {
    font-family: "SCDream6";
    $size: 28px;

    @include desktop {
        font-size: $size;
    }
    @include mobile {
        font-size: $size - $mobile_font_resize_size;
    }
}
@mixin font_h3_header {
    font-family: "SCDream4";
    $size: 25px;

    @include desktop {
        font-size: $size;
    }
    @include mobile {
        font-size: $size - $mobile_font_resize_size;
    }
}

//TEXT
@mixin font_large_text {
    font-family: "SCDream5";
    $size: 25px;

    @include desktop {
        font-size: $size;
    }
    @include mobile {
        font-size: $size - $mobile_font_resize_size;
    }
}
@mixin font_medium_text {
    font-family: "SCDream4";
    $size: 20px;

    @include desktop {
        font-size: $size;
    }
    @include mobile {
        font-size: $size - $mobile_font_resize_size;
    }
}
@mixin font_normal_text {
    font-family: "SCDream4";
    $size: 18px;

    @include desktop {
        font-size: $size;
    }
    @include mobile {
        font-size: $size - $mobile_font_resize_size;
    }
}
@mixin font_small_text {
    font-family: "SCDream4";
    $size: 15px;

    @include desktop {
        font-size: $size;
    }
    @include mobile {
        font-size: $size - $mobile_font_resize_size;
    }
}
@mixin font_smaller_text {
    font-family: "SCDream4";
    $size: 13px;

    @include desktop {
        font-size: $size;
    }
    @include mobile {
        font-size: $size - $mobile_font_resize_size;
    }
}

@mixin color_yellow_accent {
    color: $yellow_accent;
}
@mixin color_white {
    color: white;
}
@mixin color_mint_accent {
    color: $mint_accent;
}
@mixin color_gray_accent {
    color: $gray_accent;
}
@mixin color_brown_base {
    color: $brown_base;
}
@mixin color_brown_font {
    color: $brown_font;
}
@mixin color_light_accent {
    color: $light_accent;
}
@mixin color_red_accent {
    color: $red_accent;
}
