// COLORS
$brown_base: #494137;
$brown_font: #493741;
$mint_accent: #29b4aa;
$yellow_accent: #fbb800;
$red_accent: #a65341;
$gray_accent: #8c8c8b;
$light_accent: #f5f5f5;

// MEDIA QUERIES
$breakpoint-mobile: 450px;
$breakpoint-tablet: 800px;
$breakpoint-desktop: 451px;

@mixin mobile {
    @media (max-width: #{$breakpoint-tablet - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$breakpoint-desktop}) {
        @content;
    }
}
