// ClassMain.module
@import "styles/meta.scss";

.container {
    .section {
        .section_header {
            margin-bottom: 10px;
        }
        margin-bottom: 50px;
        .box_grid {
            @include desktop {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 3%;
            }
            @include mobile {
                display: grid;
                gap: 10px;
            }
        }
    }
}
